<header id="JOT-INFO">
  <h1><%= jot.escape('title') %></h1>
  <span class="byline">by <a href="#/users/<%= jot.get('user_id') %>"><%= jot.escape('author') %></a></span>
  <h2><%= jot.escape('description') %></h2>
</header>
<div id="JOT-WINDOW">
  <%= marked(jot.get('content')) %>
</div>
<ul id="JOT-ACTIONS">
  <li id="DOWNLOAD"><i class="icon-down-circled"></i></li>
  <% if (jot.get('user_id') === Jot.currentUser.get('id')) { %>
    <li><a href="#/jots/<%= jot.get('id') %>/edit"><i class="icon-pencil"></i></a></li>
    <li id="DELETE"><i class="icon-trash"></i></li>
  <% } %>
</ul>
<header id="COMMENTS-HEADER">
  <h3>Comments</h3>
  <button class="reply" data-comment-id="">
    Comment on this Jot<i class="icon-comment"></i>
  </button>
</header>
<div id="JOT-COMMENTS">
  
</div>