<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= @entry.title %></title>
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <%= wicked_pdf_stylesheet_link_tag "pdf" %>
  <%= wicked_pdf_stylesheet_link_tag "highlight/atelier-forest.light" %>
  <%= wicked_pdf_stylesheet_link_tag "normalize-rails" %>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.0/highlight.min.js"></script> 
  <%= wicked_pdf_javascript_include_tag "marked" %>

  <script type="text/javascript">
  window.onload = function() {
    var _marked, content;

    //Set highlighting options for marked
    marked.setOptions({
      highlight: function (code) {
        return hljs.highlightAuto(code).value;
      }
    });
    
    // Decode escaped html
    function htmlDecode(input){
      var e = document.createElement('div');
      e.innerHTML = input;
      return e.childNodes.length === 0 ? "" : e.childNodes[0].nodeValue;
    }

    content = '<%= escape_javascript @entry.content %>';
    document.querySelector('body').innerHTML=marked(htmlDecode(content));
  }
  </script>
</head>
<body>


</body>
</html>