<div class="jots-nav">
  <header>
    <img class="user-badge" src="https://secure.gravatar.com/avatar/<%= user.get('gravatar_id') %>?d=mm">
    <h2><%= user.get('username') %>'s jots</h2>
  </header>
  <ul class="jots-list">
    <% if (jots.length) { %>
      <% jots.forEach(function(jot) { %>
        <li class="jot" data-id="<%= jot.get('id') %>">
          <h3 class="jot-title"><%= jot.escape('title') %></h3>
          <span class="jot-description">
            <%= jot.get('description') ? jot.escape('description') : "<em>no description</em>" %>
          </span>
        </li>
      <% }); %>
    <% } else if (user.get('id') === Jot.currentUser.id) { %>
      <li>
        <h3 class="jot-title">You don't have any jots yet</h3>
        <span class="jot-description">
          <a href="#/jots/new">Click here</a> to create your first jot.
        </span>
      </li>
    <% } else { %>
      <li>
        <h3 class="jot-title"><%= user.escape('username') %> doesn't have any jots yet</h3>
      </li>
    <% } %>
  </ul>
</div>

<% if (jots.length) {  %>
  <div id="JOT-PREVIEW">
    <header>
      <h4 id="PREVIEW-TITLE"></h4>
      <span id="PREVIEW-DESCRIPTION"></span>
    </header>
    <div id="MARKDOWN-OUTPUT">
    </div>
    <footer>
      <nav>
        <ul>
          <li>
            <a id="VIEW">
              <i class="icon-search"></i>
              view
            </a>
          </li>
          <% if (user.currentUser()) { %>
            <li>
              <a id="EDIT">
                <i class="icon-pencil"></i>
                edit
              </a>
            </li>
          <% } %>
          <li>
            <button id="DOWNLOAD">
              <i class="icon-down-circled"></i>
              download
            </button>
          </li>
          <% if (user.currentUser()) { %>
            <li class="delete">
              <button id="DELETE">
                <i class="icon-trash"></i>
              </button>
            </li>
          <% } %>
        </ul>
      </nav>
    </footer>
  </div>
<% } %>