<% if (comments[key]) { %>  
  <% comments[key].forEach(function(c) { %>
    <li class="comment" data-id="<%= c.get('id') %>">
      <a href="#/users/<%= c.get('user_id') %>">
        <img src="https://secure.gravatar.com/avatar/<%= c.get('author_gravatar') %>" alt="">
        <%= c.escape('author') %>
      </a>
      <span class="post-date"><%= moment(c.get('created_at')).fromNow() %></span>
      <p><%= c.escape('content') %></p>
      <% if (comments[c.get('id')]) { %>
        <ul class="comments" data-parent-id="<%= c.get('id') %>">
          <%= template({comments: comments, template: template, key: c.get('id')}) %>
        </ul>
      <% } %>
    </li>
  <% }) %>
<% } %>
