<!DOCTYPE html>
<html>
<head>
  <title>Jot</title>
  <meta name="author" content="Willem C. van Daalen">
  <meta name="description" content="Welcome to Jot, an incredibly simple way to create and share documents using the power of markdown">

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<!-- Navbar dynamically rendered here by Backbone -->
<div id="navbar"></div>
<div id="errors"></div>

 
<div id="viewport">
  <%= yield %>
</div>

<!-- Current user bootstraped JSON -->
<script type="application/json" id="currentUser">
  <% if signed_in? %>
    {
      "currentUser": <%= current_user.to_json.html_safe %>
    }
  <% else %>
    {"currentUser": null}
  <% end %>
</script>

</body>
</html>
